<html>
    <head>
        <title>New York Times App</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/style.css')}}" />
    </head>

    <body>
        
        <h1>Current New York Times Best Sellers</h1>

        <b>Rank: {{ rank }}</b></br>

	<b>Title: {{ title }}</b></br>

	<b>Author: {{ author }}</b></br>

	<b>Publisher: {{ publisher }}</b></br>

	<b>Number of weeks on the list: {{ weeks }}</b></br>

	<b>Description: {{ description }}</b></br>

	<b>book_image: {{ book_image }}</b></br>
	
	<img src=book_image alt="American Dirt" height="72" width="72">

	<ul> 
	<!-- For loop logic of jinja template -->
	{%for i in range(0, len)%} 
  
    	<li>{{Pokemons[i]}}</li> 
	{%endfor%} 
  
	</ul> 

    </body>
</html>
